			body {
			margin: 0;
			height: 100vh;
			background-image: url('kuromi2.gif');
			background-size: cover;
			background-repeat: repeat;
			background-position: center;
			text-align: center;
		}

            h1{
            color: white;
            font-family: Times New Roman;
            text-align: center;	
			font-size: 50px
        }
		
			p {
            color: black;
            font-family: Courier;
            text-align: center;
			font-size: 20px;
        }
		
			ul {
			list-style-type: none;   
			margin: 5px;
			padding: 5px;
			text-align: center;   
			background-color:rgba(0, 0, 0, 0.5);
			position:sticky;
			top:0;
			border-radius:10px;
			z-index: 1000;
		}

			ul li {
			display: inline-block; 
			margin: 10px 15px;    
			border-radius:10px;
		}

			ul li a{
			text-decoration: none;  
			color: white;        
			padding: 10px 15px;
			transition: background-color 0.3s ease;
			border-radius:10px;
		}
		
			ul li a:hover {
			background-color: #C58FBC;
			border-radius:10px;
			color: white;     
		}
		
		
			ul li a.active {
			background-color: #90499A;
			border-radius:10px;
			color: white;     
		}
		
		.box{
			margin: auto;
			border-radius: 15px;
			width: 900px;
			border:1px solid;
			padding: 20px;
			border-color:  rgba(0, 0, 0, 0.5);
			background-color: rgba(242, 230, 255, 0.5);	
			box-shadow: 10px 10px 5px #AF69AD;
			text-align: center;
		}
		
			#glow-text { 
			color: #DABBD0;
			text-shadow: 
			0 0 5px #6D2E84, 
			0 0 10px #6D2E84, 
			0 0 20px #6D2E84,
			0 0 40px #6D2E84;
		}
		
	ul {
      list-style-type: none;   
      margin: 5px;
      padding: 5px;
      text-align: center;   
      background-color:rgba(0, 0, 0, 0.5);
	  position: sticky;
	  top:0;
	  border-radius:10px;
	}

		ul li {
		display: inline-block; 
		margin: 10px 15px;    
		border-radius:10px;
		text-decoration: none;  
	}

		ul li a {
		text-decoration: none;  
		color: white;        
		padding: 10px 15px;
		transition: background-color 0.3s ease;
		border-radius:10px;
	}

		ul li a:hover {
		background-color: #bb99ff;
		border-radius:10px;
	}
	
		 #center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
		
			img {
			border-radius: 100px; 
			width: 300px;
			border: 3px black solid;
		}
		
		span {
		font-weight: bold; 
		}
		
			.btn {
		background-color: black;  
		color: white;             
		padding: 12px 24px;         
		border: none;               
		border-radius: 20px;         
		font-size: 16px;          
		cursor: pointer;
		transition: transform 0.2s ease, background-color 0.3s ease;
		margin-left: auto;
		margin-right: auto;
		font-family: Courier;
    }

		
		.btn:hover {
		background-color: #90499A;   
		transform: scale(1.05); 
		font-family: Courier;
    }
	
		a.hover {
		text-decoration: none;  
		color: white;    
		}
		
		
		.fa {
		padding: 20px;
		font-size: 30px;
		width: 20px;
		text-align: center;
		text-decoration: none;
		margin: 5px 2px;
		border-radius: 50%;
	}

		.fa:hover {
		opacity: 0.7;
	}

		.fa-facebook {
		background: #AF69AD;
		color: white;
	}

		.fa-instagram {
		background: #AF69AD;
		color: white;
	}

		.fa-pinterest {
		background: #AF69AD;
		color: white;
	}
	
		.fa-spotify {
		background: #AF69AD;
		color: white;
	}